/* 
    Document   : home
    Created on : 21.05.2014, 09:17:36
    Author     : Alrik Hausdorf <alrik@gurkware.de>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body>.container{

}
.right-border{
    height: 40%;
    width: 50%;
    border-right: thin solid #c0c0c0;
}
.space-1{
    display: block;
    margin-top: 10px;

}
.space-2{
    display: block;
    margin-top: 20px;

}
.space-3{
    display: block;
    margin-top: 30px;

}
.space-4{
    display: block;
    margin-top: 40px;

}
.job-row{
    margin-bottom: 5px;
}
.job-row:hover{
    background: #ccc;
}
.job-row .btn{
    margin-left: 5px;
}